@page "/"

<Heading Title="Tasks"></Heading>

<MudTabs Elevation="0" Rounded="true" Centered="true">
    <MudTabPanel Text="Today">
        @if (toadyTaskItems.Any())
        {
            <div class="mt-3">
                @foreach (var item in toadyTaskItems)
                {
                    <DataCard taskItem="item" OnTaskCompleted="HandleTaskCompleted"></DataCard>
                }
            </div>

        }
    </MudTabPanel>
    <MudTabPanel Text="All">
        @if (allTaskItems.Any())
        {
            <div class="mt-3">
                @foreach (var item in allTaskItems)
                {
                    <DataCard taskItem="item" OnTaskCompleted="HandleTaskCompleted"></DataCard>
                }
            </div>
        }
    </MudTabPanel>
</MudTabs>










@code {
    List<TaskItem> toadyTaskItems = new();
    List<TaskItem> allTaskItems = new();
    DateTime today = DateTime.Now.Date;


    protected override async Task OnInitializedAsync()
    {
        await TaskService.CarryOverIncompleteTasksAsync();
        await LoadData();
    }

    private async Task LoadData()
    {
        toadyTaskItems = await TaskService.GetTasksForToday();
        allTaskItems = await TaskService.GetAllIncompleteTasks();
    }

    private async Task HandleTaskCompleted(TaskItem completedTask)
    {
        completedTask.CompletionDateTime = DateTime.Now;
        completedTask.IsCompleted = true;
        await TaskService.SaveTaskAsync(completedTask);
        Snackbar.DisplaySuccessSnackBar();
        await LoadData();
    }
}
