@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Bottom>
        <NavMenu/>
    </MudAppBar>
    <MudMainContent Class="pb-10">
        <div style="margin:0px; flex: 1 1 auto; padding-bottom: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/8); transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms;">
            <MudContainer MaxWidth="MaxWidth.Medium">
                @Body
            </MudContainer>
        </div>
    </MudMainContent>
</MudLayout>


