@inherits LayoutComponentBase

<MudThemeProvider Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Bottom Fixed>
        <NavMenu/>
    </MudAppBar>
    <MudMainContent>
        <div style="margin:0px; flex: 1 1 auto; padding-bottom: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/8); transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms;">
            <MudContainer MaxWidth="MaxWidth.Medium" Class="pb-16" >
                @Body
            </MudContainer>
        </div>
    </MudMainContent>
</MudLayout>


@code{


    MudTheme CustomTheme = new MudTheme() {

            Typography = new Typography() {
                Default = new Default() {
                    FontFamily = new[] { "Montserrat", "sans-serif" }
                },
            },
            PaletteDark = new PaletteDark() {

                Background = "#0d1117",
                Surface = "#161b22",
                AppbarBackground = "#161b22",
                DrawerBackground = "#161b22",


                Primary = "#809A6F",
                PrimaryLighten = "#B3CDA2",
                PrimaryDarken = "#4D673C",

                Secondary = "#896F9A",
                SecondaryLighten = "#BCA2CD",
                SecondaryDarken = "#563C67",


            },
            Palette = new PaletteLight() {
                Primary = "#809A6F",
                PrimaryLighten = "#B3CDA2",
                PrimaryDarken = "#4D673C",

                Secondary = "#896F9A",
                SecondaryLighten = "#BCA2CD",
                SecondaryDarken = "#563C67",

                Background = "#f6f4f6",
                Surface = "#f7f7f7",
                AppbarBackground = "#f7f7f7",
                DrawerBackground = "#ffffff",
                //F6F6F6


            }
        };

}